.project-list,
#project-box,
pre {
  width: 100%;
}

.project-list h1 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: left;
}

.project-list ul {
  display: inline-flex;
  flex-wrap: wrap;
}

#project-box {
  border: 5px solid var(--color-5);
  min-height: 500px;
  padding: 1.5rem;
  font-family: var(--font-3);
  text-align: left;
}

#project-box h2 {
  font-size: 2rem;
  font-weight: bold;
}

#project-box h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

#project-box ul {
  list-style: circle;
  margin-left: 20px;
}

#project-box strong {
  font-weight: bold;
}

#project-box a {
  text-decoration: none;
  color: var(--color-1);
  text-shadow: 1px 1px var(--color-6);
}

pre {
  background-color: var(--color-1);
  color: var(--color-2);
}
